.gradle
.idea
Ficha1/Ex1/.idea/*
Ficha1/Pool/.idea/*
Ficha1/Pool/.gradle/*
Ficha1/Pool/gradle/*
Ficha2/Activities/.idea/*
Ficha2/Activities/.gradle/*
Ficha2/Layouts/.idea/*
Ficha2/Exercicio4Ficha2/.idea/*
Ficha2/Layouts/.idea/compiler.xml

